* {
  margin: 0;
  padding: 0;
}

body {
  background: #dadada;
}

.links {
  background-color: #5f6a9a;
  display: block;
  padding: 8px 15px;
  text-transform: capitalize;
  font-size: 13px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 7px 0;
  -webkit-box-shadow: 0px 1px 3px -1px #00000091;
          box-shadow: 0px 1px 3px -1px #00000091;
}

.links:hover {
  background: #6273bd;
}

.copyright {
  color: #fff !important;
  background: #333956;
  padding: 12px;
  position: relative;
}

.heading {
  padding: 15px 0;
  font-size: 1.3rem;
  color: #fff;
  text-transform: capitalize;
  background: #373e5d;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100vh;
}

.main .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10px;
}

.main .sidebar {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  background-color: #465182;
}

.main .sidebar .inner {
  padding: 15px;
}

.blocks-container {
  width: 100%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .blocks-container {
    max-width: 82.9%;
  }
}

@media (max-width: 425px) {
  .blocks-container {
    max-width: 100%;
  }
}

.blocks-container .items {
  padding: 10px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  margin: 3px;
  border: 2px solid #8BC34A;
  height: 100px;
}

.blocks-container .items.block-6 {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  height: 300px;
  background-size: cover !important;
}

@media (max-width: 375px) {
  .blocks-container .items {
    height: 113px;
    width: 113px;
  }
}

.blocks-container .items audio {
  display: none;
}

.blocks-container .items:hover {
  cursor: pointer;
  border: 2px solid #7b7b7b;
  -webkit-box-shadow: inset 0px -1px 20px 0px #00000047;
  box-shadow: inset 0px -1px 61px 0px #a2cc21b3;
}

.blocks-container .items:nth-child(1) {
  background: url(../images/alif.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(2) {
  background: url(../images/ba.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(3) {
  background: url(../images/ta.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(4) {
  background: url(../images/sa.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(5) {
  background: url(../images/jim.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(6) {
  background: url(../images/haa.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(7) {
  background: url(../images/kha.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(8) {
  background: url(../images/daal.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(9) {
  background: url(../images/thaal.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(10) {
  background: url(../images/ra.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(11) {
  background: url(../images/zay.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(12) {
  background: url(../images/siin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(13) {
  background: url(../images/shiin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(14) {
  background: url(../images/saad.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(15) {
  background: url(../images/daad.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(16) {
  background: url(../images/taa.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(17) {
  background: url(../images/thaa.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(18) {
  background: url(../images/ayn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(19) {
  background: url(../images/ghayn.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(20) {
  background: url(../images/fa.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(21) {
  background: url(../images/qaf.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(22) {
  background: url(../images/kaf.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(23) {
  background: url(../images/lam.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(24) {
  background: url(../images/miim.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(25) {
  background: url(../images/nuun.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(26) {
  background: url(../images/waw.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(27) {
  background: url(../images/ha.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blocks-container .items:nth-child(28) {
  background: url(../images/ya.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=app.css.map */